


   <div class="row">
     <div class="col-md-7">
       <div id="map"></div>        <!--  beginning of google map view -->
       <div id="click-info"></div>
     </div> <!-- end of google mape view -->

     <div class="col-md-5"> <!-- company list view -->
       <select name="address" id="address">
          <option value="barcelona"> Barcelona  </option>
          <option value="madrid"> Madrid </option>
          <option value="paris"> Paris </option>
          <option value="miami"> Miami </option>
       </select>
       <button id="submit"> Submit </button>

       <div class="row">
         <div class="col-md-6">user1</div>
         <div class="col-md-6">user2</div>
       </div>
       <div class="row">
         <div class="col-md-6">user3</div>
         <div class="col-md-6">user4</div>
       </div>
       <div class="row">
         <div class="col-md-6">user5</div>
         <div class="col-md-6">user6</div>
       </div>
       <div class="row">
         <div class="col-md-6">user7</div>
         <div class="col-md-6">user8</div>
       </div>
     </div>
   </div>
