<!DOCTYPE html>
<html>
 <head>
   <title>Title</title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <title>Sponsors</title>
 </head>
 <body>
   <h3>Sponsors</h3>
   <form action="/create" method="post" >
      <select name="city">
        <option value="barcelona"> Barcelona  </option>
        <option value="madrid"> Madrid </option>
      </select>
      <button> Submit </button>
</form>
   <div id="click-info"></div>
   <div id="map"></div>

 </body>
 <script type="text/javascript"> var locations = [<%- companies %>]; </script>
 <script
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPJkVGfAsJURkAMEAM_40Fx3f3mH2etOQ&libraries=places">
 </script>
 <script
   src="http://code.jquery.com/jquery-3.2.1.min.js"
   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
   crossorigin="anonymous"></script>

 <script type="text/javascript" src="/javascripts/main.js"></script>
</html>
