<!DOCTYPE html>
<html>
 <head>
   <title>Title</title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <title>Sponsors</title>
 </head>
 <body>
   <h3>Sponsors</h3>
    <form>
      <select name="name">
        <option value="barcelona" class="address" selected="selected"> Barcelona  </option>
        <option value="madrid" class="address"> Madrid </option>
      </select>
      <button id='submit'>Submit</button>
    </form>
   <div id="click-info"></div>
   <div id="map"></div>
   

 </body>
 <script type="text/javascript"> var locations = [<%- companies %>]; </script>

 <script
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbBJPvYIaR5ozIx_0-uWiGeO9cK4IxHww">
 </script>
 <script
   src="http://code.jquery.com/jquery-3.2.1.min.js"
   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
   crossorigin="anonymous"></script>

 <script type="text/javascript" src="/javascripts/main.js"></script>
</html>
