<section class="landing-page">

  <div class="row background-image">
    <div class="row">
        <h1>Borderless</h1>
    </div>
    <div class="row">
        <h2>Find your sponsor. Find your rockstar.</h2>
    </div>
  </div>

  <div class="row">

    Login as a <select name="user" id="user" class="dropdown">
      <option value="job-seeker"> job-seeker  </option>
      <option value="employer"> employer </option>
      </select>

      or explore by city <select name="address" id="address" class="dropdown">
       <option value="barcelona"> Barcelona  </option>
       <option value="madrid"> Madrid </option>
       <option value="paris"> Paris </option>
       <option value="miami"> Miami </option>
       </select>
       <button class="sponsor-submit"> Explore sponsors </button>
    
  </div>

</section>
