


   <div class="row" id="parent">
       <div class="col-md-7" id="left-side">
         <div id="map"> </div>        <!--  beginning of google map view -->
         <div id="click-info"></div>
       </div> <!-- end of google mape view -->

       <div class="col-md-5" id="right-side">  <!-- company list view -->
           <div class="row city-nav sponsor">
               <h2> Find a sponsor </h2>
               <div class="city-choice">
                 <select name="address" id="address" class="dropdown">
                    <option value="barcelona"> Barcelona  </option>
                    <option value="madrid"> Madrid </option>
                    <option value="paris"> Paris </option>
                    <option value="miami"> Miami </option>
                 </select>
                 <button id="submit"> Find sponsors </button>
               </div>
          </div>

         <section class="company-list">
           <div class="row company-row">
             <div class="col-md-6 company">skyscanner</div>
             <div class="col-md-6 company">glovo</div>
           </div>
           <div class="row company-row">
             <div class="col-md-6 company">ironhack</div>
             <div class="col-md-6 company">badi</div>
           </div>
           <div class="row company-row">
             <div class="col-md-6 company">wallapop</div>
             <div class="col-md-6 company">vibbo</div>
           </div>
           <div class="row company-row">
             <div class="col-md-6 company">mobile bakery</div>
             <div class="col-md-6 company">letgo</div>
           </div>
         </section>

       </div> <!-- right side -->


  </div> <!-- intial row div -->
