body {
  height: 100%;
  padding: 50px 0 0 0 ;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #191970;
}

a {
  color: #FFF;
}

select {
  appearance: none;
}

.container-fluid{
  background-color: #191970;
}

.white, .caret {
  color: white;
}

.navbar-right{
  padding-right: 2%;
}

/*landing page*/

.landing-page {
  text-align: center;

  height: 800px;
  background-color: #191970;
}

.background-image {
  background-image: url("https://img.washingtonpost.com/wp-apps/imrs.php?src=https://img.washingtonpost.com/blogs/wonkblog/files/2014/07/Screen-Shot-2014-07-17-at-1.24.19-PM.png&w=1484");
  max-height: 60%;
  color: #FFF;
}

.landing-header {
  margin: 10% 0;

}

.landing-login {
  margin-top: 15%;
  background-color: #FFF;
  color: black;
  padding: 2% 0;
}

/*explore page*/
#parent {
  height: 100%;
  background-color: black;

}
#map {
 height: 100%;
 margin-right: -3%;
}

#left-side {
  background-color: #fff;
  height: 660px;
}

#right-side {
  background-color: #fff;
  height: 100%;
  color: black;
}

.city-nav{
  background-color: #e7e7e7;
}

.sponsor{
text-align: center;
}

.city-choice{
background-color: #708090;
text-align: center;
/*border: 1px solid white;*/
}

.submit{
  margin: 0% 5%;
  padding: 2%;
}

.company-row {
  margin: 10% 5%;
  /*border: 1px solid yellow;*/
}

.company {
  /*border: 1px solid white;*/
  padding:5%;
}
