body {
  height: 100%;
  padding: 50px 0 0 0 ;
  width: 100%;
  position: relative;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #63171A;

}

.no-marg{
  padding: 0 !important;
  margin: 0 !important;
}

a {
  color: #FFF;
}

select {
  appearance: none;
}

.container-fluid{
  background-color: #4A0D0F;
  
}

.container{
  background-color: #4A0D0F;
  height: 100vh;
}

.white, .caret {
  color: white;
}

#headline{
    font-family: 'Orbitron', sans-serif;
}

.navbar-right{
  padding-right: 2%;
}

.landing-link{
  background-color: #4A0D0F ;
  color: #fff ;
}

/*landing page*/

#borderless{
  font-family: 'Orbitron', sans-serif;
  font-size: 20vh;
}

.landing-page {
  text-align: center;
  height: 800px;
  background-color: #191970;
}

.background-image {
  background-image: url("../images/sunrise.jpeg");
  /*background-position: left bottom;*/
  background-size:cover;
  height: 100%;
  width: auto;
  color: #FFF;
}

.landing-header {
  margin: 7% 0 10%;
}

.landing-login {
  margin-top: 13%;
  color: black;
  padding: 2% 0;
}

#slogan{
  margin-top: 2%;
}

/*explore page******************/
#parent {
  height: 100vh;
  width: inherit;
  border: 1px solid black;
    /*position: fixed;*/
}

#map {
height: 100vh;
width: 104%;
margin-left: -1%;
}



#left-side, #right-side {
  background-color: #fff;
  height: 100vh;
  width: 50%;
}

.city-nav{
  background-color: #e3dfdf;
}

.sponsor{
text-align: center;
/*position: fixed;*/
}

.input-group-addon{
  margin: 0 !important;
  border: 1px solid black;
  height: 20px;
}


.city-choice{
display: inline-block;
margin: 1% 0 -1% 0;
padding: 2% 0;
background-color: #4A0D0F;
text-align: center;
width: 100%;
height: 100%;
/*border: 1px solid white;*/
}

.submit{
  margin: 0% 5%;
  padding: 2%;
}

.company-list {
  text-align: center;
  max-height: 50%;
  width: 100%;
  overflow-y: auto;
}

.company-row {
  margin: 10% 5%;
  /*border: 1px solid yellow;*/
}

.company {
  /*border: 1px solid white;*/
  padding:3%;
}

.company-icons img {
  max-width: 100%;
  height: auto;
}

.company-detail{

  border-bottom: 1px solid black;
  width: 105%;

}

#address{
width: 110%;
}

#radio{
  width: 100%;
  text-align: center;
}

#sponsor-submit {
width: 90%;
padding: 2.5%;
margin-right: 5%;
}


/*dashboards for user and company*******************/

.dashboard{
  height: 100vh;
  background-color: #e3dfdf;
  text-align: center;
}

.profile-left{
  height: 100%;
}

.company-interest{
  background-color: #fff;
  height: 100vh;
}
.profile-right{
  /*border: 1px solid red;*/
  height: 100%;
}

.image-div{
  height: 40%;
  /*border: 1px solid yellow;*/
  background-color: #fff;
}

.image-div-left{
  /*border: 1px solid blue;*/
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.profile-image{
  /*border: 1px solid orange;*/
  height: 100%;

}

.user-details {
  /*border: 1px solid black;*/
  height: 100%;
  margin: 0;
  padding: 0;
}

.image-div-right{
  /*border: 1px solid green;*/
  height: 100%;
}

#test-div{
  height: 90%;
}

.profile-footer{
  height: 10%;
  display: flex;
  flex-flow: row;
  /*border: 1px solid red;*/
}

.profile-footer > div{
  padding: 1% 5% 0;
}

.company-edit-form{
  display: none;
}

.bio-section {
  margin-top: 2%;
  background-color: #fff;
  /*border: 3px solid black;*/
  height: 45%;
}

/*new company page*/

.new-company{
  color: black;
  background-color: #fff;
  height: 100vh;
}
.create-company{
  height: 100%;
  overflow-y:auto;

}
.geo-row{
  height: 100%;
}
.map-row {
  position: fixed;
}
#new-map{
  position: fixed;
  height: 90vh;
}

#hide-company {
  display: none;
}

/*Users profiles*/

.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
/*.tab-pane { padding: 15px 0; }*/
.tab-content{padding:20px}

.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }
