<div class="container-fluid new-company">
	<div class="row geo-row">
		<div class="col-md-5 map-row">
			<h4>Enter your address</h4>
			<input id="new-address" type="" name="address" placeholder="address">
			<input id="new-submit" type="submit" name="" value="Geocode">
			<div id="new-map"> </div>
		</div>
		<div class="col-md-7 create-company">
			<h4> Add your company</h4>
			<form method="POST" action="/explore">
				<div class="form-group">
					<label>Name of Company:</label>
					<input type="" class="form-control" name="name" placeholder="Name"><br>
				</div>
				<div class="form-group">
					<label>Industry</label>
					<input type="" class="form-control" name="type" placeholder="saas, health, ecommerce, etc."><br>
				</div>
				<div class="form-group">
					<label>City:</label>
					<input type="" class="form-control" name="city" placeholder="City name"><br>
				</div>
				<div class="form-group">
					<label>Are you willing to consider sponsoring a non-resident worker?:</label>
	        <select class="form-control" name="description" id="yes-no">
	            <option value="yes">Yes</option>
	            <option value="no">No</option>
	        </select>
        </div>
				<div>
					<label>What positions would you consider sponsoring a non-resident for? (Choose all that apply)</label>

						<h4> Web Developer</h4>
						<select class="form-control" name="description" id="web-developer">
		            <option value="JUNIOR-LEVEL">Junior Web Developer</option>
		            <option value="MID-LEVEL">Mid-level Web Developer</option>
								<option value="SENIOR-LEVEL">Senior Web Developer</option>
								<option value="NONE">None</option>
		        </select>


						<h4> Mobile Developer</h4>
						<select class="form-control" name="description" id="mobile-developer">
		            <option value="JUNIOR-LEVEL">Junior Mobile Developer</option>
		            <option value="MID-LEVEL">Mid-level Mobile Developer</option>
								<option value="SENIOR-LEVEL">Senior Mobile Developer</option>
								<option value="NONE">None</option>

		        </select>

						<h4> UX/UI Developer</h4>
						<select class="form-control" name="description" id="ux-developer">
		            <option value="JUNIOR-LEVEL">Junior UX/UI Designer</option>
		            <option value="MID-LEVEL">Mid-level UX/UI Designer</option>
								<option value="SENIOR-LEVEL">Senior UX/UI Designer</option>
								<option value="NONE">None</option>

		        </select>
					</div>

				<div class="form-group">
					<label>What factors would influence your decision to consider sponsoring a non-resident worker?</label>
					<input type="" class="form-control" name="description" placeholder="experience, languages, etc."><br>
				</div>

				<div class="form-group">
					<label>Coordinates:</label>
		  		    <input id="new-latitude"  type="text" name="latitude" placeholder="Latitude" >
		 			<input id= "new-longitude"   type="text" name="longitude" placeholder="Longitude"><br>
				</div>
				<input type="submit" name="">
			</form>
		</div>
	</div>
</div>
