<h3>Add Company</h3>
		<form method="POST" action="/">
			<label>Name:</label>
			<input type="" name="name" placeholder="Name"><br>
			<label>Description:</label>
			<input type="" name="description" placeholder="Description"><br>
            <label>City:</label>
			<input type="" name="city" placeholder="CityName"><br>
			<label>Coordinates:</label>
  		    <input type="text" name="latitude" placeholder="Latitude" >
 			<input type="text" name="longitude" placeholder="Longitude"><br>

			<input type="submit" name="">
		</form>