
<!DOCTYPE html>
<html>
 <head>
   <title>Title</title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <title>Sponsors</title>
 </head>
 <body>
   <div class="container-fluid">

     <%- body %>

  </div> <!-- container-fluid" -->
</body>
 <script type="text/javascript"> var locations = [<%- companies %>]; </script>
 <script
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPJkVGfAsJURkAMEAM_40Fx3f3mH2etOQ">
 </script>
 <script
   src="http://code.jquery.com/jquery-3.2.1.min.js"
   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
   crossorigin="anonymous"></script>

 <script type="text/javascript" src="/javascripts/main.js"></script>
</html>
