<!DOCTYPE html>
<html>
 <head>
   <title>Title</title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <title>Sponsors</title>
 </head>
 <body >
   <div class="container-fluid">

       <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span class="white">Borderless</span></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/explore"><span class="white">Explore</span></a></li>
              <li><a href="#"><span class="white">Dashboard</span></a></li>
              <li><a href="#"><span class="white">About</span></a></li>
              <li><a href="#"><span class="white">Jobs</span></a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="white">English</span> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Español</a></li>
                  <li><a href="#">Chinese (traditional)</a></li>
                </ul>
              </li>
              <li><button type="button" class="btn btn-default navbar-btn">Sign in</button></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div> <!-- container-fluid for nav -->
       </nav>
  </div> <!-- container-fluid" -->
    <%- body %>

  </body>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>
</html>
